<div class="container">
    <div class="float-end">
        <button type="button" class="btn btn-primary" routerLink="/student/student-list">Go to Students </button> &nbsp;
        <button type="button" class="btn btn-success" 
         data-bs-toggle="modal" data-bs-target="#employeeModal" (click)="onAddClick()">Add Employee </button>
    </div>
   

<div class="modal" id="employeeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!isEdit">Add New Employee</h4>
        <h4 class="modal-title" *ngIf="isEdit">Edit Employee</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="onCloseClick()"></button>
      </div>
      <div class="modal-body">
      <div>
          <form [formGroup]="employeeForm">
              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" name="firstName" id="firstName"  formControlName="firstName">
              </div>
              <div class="form-group">
                <label for="firstName">Last Name</label>
                <input type="text" class="form-control" name="lastName" id="lastName" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="firstName">Email</label>
                <input type="email" class="form-control" name="email" id="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="firstName">Phone Number</label>
                <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber">
            </div>
          </form>
      </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          <button *ngIf="!isEdit" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addNewEmployee()">Submit</button>
          <button *ngIf="isEdit" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmployee()">Update</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.no</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of employeeData let i=index">
                <td>{{i+1}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#employeeModal" (click)="onEditClick(item)">Edit</button>&nbsp;
                    <button type="button" class="btn btn-danger" (click)="onDeleteEmployee(item)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>